# macOS
.DS_Store

# IDE
.idea/
.vscode/

# logs
*.log

# frontend future-proof
orca_frontend/node_modules/
orca_frontend/.vite/
orca_frontend/dist/
orca_frontend/build/

# backend build (optional if you want root-level backup rules)
orca_backend/target/
